@font-face {
  font-family: '8bit Art Sans Neue';
  src: url('8BitArtSansNeue.eot'); /* IE9 Compat Modes */
  src: url('8BitArtSansNeue.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('8BitArtSansNeue.woff') format('woff'), /* Modern Browsers */
       url('8BitArtSansNeue.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('8BitArtSansNeue.svg#ec3d15fd5d5a921233750e09e19df8b9') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}
